body {
	margin: 0px;
	background-image: url(preview.gif);
	background-repeat: no-repeat;
    width = 640px;
    height =496px;
	font-family: Verdana, Arial, Helvetica, Univers, sans-serif;
}

body.settings { 
	background-image: none;
    width: 640px;
    height: 496px;
}

.layer {
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
    width: 640px;
    height: 496px;
    border: 0px;
}

